.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .lead {
        padding: 48px 0 0;
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
        margin: 0;
    }
}