.place {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat (2, minmax(min-content, max-content));
    grid-template-areas: 
        "title url"
        "picture text";
    justify-items: left;
    gap: 40px 48px;
    padding-bottom: 80px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
    text-rendering: optimizeLegibility;
}

.place:last-of-type {
    padding: 0px;
}