.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .footer { 
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer { 
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer { 
        flex-direction: column;
        max-width: 320px;
        padding-top: 64px;
        padding-left: 16px;
        min-height: 398px;
        margin: 0;
    }
}




    