.place__website {
    grid-area: url;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: end;
    gap: 12px;
    max-width: 456px;
}

@media screen and (max-width: 1023px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        padding-left: 16px;
    }
}